<div class="app-container">
  <input type="text" [(ngModel)]="youtubeUrl" placeholder="Enter YouTube URL" />
  <button (click)="playVideo()">Play</button>

  @if (videoId) {
  <div>
    <div id="player"></div>
  </div>
  }

  @if (videoLoaded) {
    <div>
      <button (click)="selectFrame('start')">Select Start Frame</button>
      <button (click)="selectFrame('end')">Select End Frame</button>
    </div>
  }

  @if (startFrame && !endFrame) {
    <p>Start Frame: {{ startFrame }} seconds</p>
  } @else if (endFrame && !startFrame) {
    <p>End Frame: {{ endFrame }} seconds</p>
  } @else if (startFrame && endFrame) {
    <p>Start Frame: {{ startFrame }} End Frame: {{ endFrame }} seconds</p>
  }
  @if (startFrame && endFrame) {
    <button (click)="sendFrames()">Submit Frames</button>
  }

  @if (gifUrlList.length > 0) {
    <div class="gif-container">
      <h3>Generated GIFs:</h3>
      <h6>Click to Download</h6>
      @for (url of gifUrlList.reverse(); track $index) {
      <a [href]="url" [download]="'clip' + $index + '.gif'">
        <img [src]="url" alt="Generated GIF" />
      </a>
      }
    </div>
  }
</div>
