<div class="app-container">
  <input type="text" [(ngModel)]="youtubeUrl" placeholder="Enter YouTube URL" />
  <button (click)="playVideo()">Play</button>

  @if (videoId) {
  <div>
    <div id="player"></div>
  </div>
  }

  @if (videoLoaded) {
    <div>
      <button (click)="selectFrame('start')">Select Start Frame</button>
      <button (click)="selectFrame('end')">Select End Frame</button>
    </div>
  }

  @if (startFrame) {
    <p>Start Frame: {{ startFrame }} seconds</p>
  }
  @if (endFrame) {
    <p>End Frame: {{ endFrame }} seconds</p>
  }
  @if (startFrame && endFrame) {
    <button (click)="sendFrames()">Submit Frames</button>
  }

  @if (gifUrl) {
    <div>
      <h3>Generated GIF:</h3>
      <img [src]="gifUrl" alt="Generated GIF" />
    </div>
  }
</div>
