/* Apply dark background to the whole body */
body {
  background-color: #121212;
  color: #ffffff; /* Light text for dark background */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.gif-container {
  position:absolute;
  width: 300px;
  height: 100%;
  padding: 12px;
  top: 0px;
  right: 0px;
  overflow-x: hidden;
}

.gif-container h3 {
  top: 0px;
}

.gif {
  transform: translateX(225px);
  transition: all 0.2s;
}

.gif:hover {
  transform: translateX(0px);
}

input {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

button {
  background-color: #1e88e5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1565c0;
}

img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

.selected-frames {
  background-color: #1e88e5;
  color: white;
  border-radius: 5px;
  padding: 8px;
}

/* Adjust input and button for smaller screens */
@media (max-width: 600px) {
  .app-container {
    padding: 20px;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }
}
